---
import BenefciosMasaje from "./BeneficiosMasaje.astro";
import BenefciosFisioterapia from "./BeneficiosFisioterapia.astro";
---

<section id="beneficios">
  <BenefciosFisioterapia />
  <BenefciosMasaje />
</section>
